$--c-black-0: #222;
$--c-gray-0: #777;
$--c-white-0: #fff;
$--font-family: 'Iconsolata', 'monospace', 'Hiragino Sans', 'ヒラギノ角ゴシック',
  'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo',
  '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue';
