// .eslintrc
{
  "root": true,
  "env": {
      "node": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:vue/essential",
      "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "vue"],
  // お好みで
  "rules": {
      // フォーマットされてないと警告
      "prettier/prettier": 1,
      // 未使用変数はエラー(_から始まる変数は例外的に許可)
      "no-unused-vars": [2, { "argsIgnorePattern": "^_" }]
  }
}
