@import '@/assets/style/_variables.scss';
/* Default Layout Style */
.TheDefaultLayout {
  height: 95vh;
  width: 100vw;
  font-family: $--font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &_Header {
    width: 100%;
    height: 40px;
    transform: skewY(-2deg);
    transform-origin: top left;
  }
  &_Main {
    width: 100%;
    height: calc(90% - 40px - 25px);
  }
  &_Footer {
    width: 100%;
    height: 25px;
    transform: skewY(-2deg);
    transform-origin: bottom right;
  }
}
/* vue-portal */
.vue-portal-target {
  width: 100%;
  height: calc(100% - 20px);
}
